<div class="row" id="r_header">
        <!--<section class="slider">
            <div class="flexslider">
                <ul class="slides">
                                    </ul>
            </div>
        </section>-->
        <div class="col-sm-4 head_img" style="background-color: gray;">
            <a href="{{  path('book_woman', {}) }}"><img src="http://www.drouss.org/Required/media/header/femmes.jpg" alt="femme" style="padding-right: 1px"></a>
        </div>
        <div class=" col-sm-4 head_img">
            <a href="{{  path('book_view', {'name':'Ma\'houz'}) }}"><img src="http://drouss.org/Required/media/header/mahouz.jpg" alt="mahouze" style="padding-right: 1px"></a>
        </div>
        <div class=" col-sm-4 head_img">
            <a href="{{  path('book_oumma', {}) }}"><img src="http://www.drouss.org/Required/media/header/oumma.jpg" alt="oumma" style="padding-right: 1px;background-color: gray;"></a>
        </div>
    </div>