<div class="row" id="r_header">
        <!--<section class="slider">
            <div class="flexslider">
                <ul class="slides">
                                    </ul>
            </div>
        </section>-->
        <div class="col-sm-4 head_img">
            <a href="livres.php?id=6"><img src="http://www.drouss.org/Required/media/header/femmes.jpg" alt="mahouze" style="padding-right: 1px"></a>
        </div>
        <div class=" col-sm-4 head_img">
            <a href="femmes.php"><img src="http://placehold.it/309x164" alt="femme" style="padding-right: 1px"></a>
        </div>
        <div class=" col-sm-4 head_img">
            <a href="oumma.php"><img src="http://www.drouss.org/Required/media/header/oumma.jpg" alt="ouma" style="padding-right: 1px;"></a>
        </div>
    </div>